body {
  font-size: 24px;
  font-family: 'Monserrat', san-serif;
}
/* style for title "Country Database" */
.header h2 {
  font-size: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  text-align: center;
}
/* Set a space between the Country database form and the country details
Create a shadow around it */
.country {
  margin-top: 2em;
  padding-top: 1em;
  border: 10px solid #fff;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;

}

/* Make the name of the country in the shadow bold */
.country .name h3 {
  font-size: 1.5em;
  font-weight: bold;
}

/* set the size of the country flag to cover the whole section carved out
for it */
.country .flag {
  position: relative;
}
/* Set the size of the flag image. build a shadow box around it
*/
.country .flag img {
  height: 100%;
  width: 100%;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}
.country .details {
  margin-top: 2em;
}
.country .details .stats td.name {
  font-weight: bold;
}
/* only works for Chrome.. haven't done the others yet */
::-webkit-input-placeholder {
  color: #666;
}
.input_autocomplete {
  background: linear-gradient(to bottom, #FEFEFE, #EFEFEF);
}
.input_autocomplete input {
  color: #000444;
}

/* change linear direction on hover*/
.input_autocomplete:hover {
   background: linear-gradient(to top, #FEFEFE, #EFEFEF);
}
/* bar showing that country api is loading is a little too thick
make it thinner
*/
.make_progress_bar_thinner {
  height: 2px;
}
